body {
     background: var(--gradient-background);
     color: var(--secondary-color);
     font-family: var(--font-family);
     margin: 0;
     padding: 48px 24px 80px;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
   }

   .header-section {
     display: flex;
     flex-direction: column;
     align-items: stretch;
     gap: 12px;
   }

   .header-section h2 {
     font-size: var(--title-font-size);
     line-height: 1.2857142857142858em;
     text-align: left;
   }

   .header-section p {
     font-size: var(--body-font-size);
     line-height: 1.5em;
     text-align: left;
   }

   .main-content {
     margin-top: 32px;
     display: flex;
     flex-direction: column;
     gap: 12px;
   }

   .feature-module {
     background: var(--primary-color);
     border-radius: 12px;
     padding: 24px;
     display: flex;
     flex-direction: column;
     gap: 32px;
   }

   .feature-image {
     width: 60px;
     height: 60px;
   }

   .feature-text {
     display: flex;
     flex-direction: column;
     gap: 4px;
   }

   .feature-text h3 {
     font-size: var(--subtitle-font-size);
     line-height: 1.5em;
     text-align: left;
   }

   .feature-text p {
     font-size: var(--body-font-size);
     line-height: 1.5em;
     text-align: left;
   }
   